@font-face {
    font-family: 'Minecraft Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Minecraft Regular'), url('assets/fonts/1_MinecraftRegular1.woff') format('woff');
}

@font-face {
    font-family: 'Minecraft Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minecraft Italic'), url('assets/fonts/2_MinecraftItalic1.woff') format('woff');
}

@font-face {
    font-family: 'Minecraft Bold';
    font-style: bold;
    font-weight: bold;
    src: local('Minecraft Bold'), url('assets/fonts/3_MinecraftBold1.woff') format('woff');
}

@font-face {
    font-family: 'Minecraft Bold Italic';
    font-style: bold;
    font-weight: bold;
    src: local('Minecraft Bold Italic'), url('assets/fonts/4_MinecraftBoldItalic1.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Montserrat:wght@100;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Minecraft Regular', sans-serif !important;
}

a {
    text-decoration: none !important;
}

.container {
    width: 1440px;
    margin: 0px auto;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    z-index: 5;
}

.logo{
    width: 280px;
}

.logo:hover{
    cursor: pointer;
}

.navbar{
    padding: 0px !important;
}

.navbar a{
    font-size: 11px;
    padding: 36px 15px;
    letter-spacing: 1.5px;
    border-bottom: 3px solid white;
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    border-bottom: 3px solid #0F282B;
    transition: 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.navbar a:nth-child(1){
    border-bottom: 3px solid #0F282B;
}

.navbar a:visited{
    color: black;
    text-decoration: none;
}

.navbar-btn{
    padding: 15px 30px;
    background-color: #0F282B;
    color: white !important;
    letter-spacing: 1.5px;
    font-size: 12px;
    border: 3px solid #0F282B;
}

.navbar-btn:hover{
    background-color: white;
    color: #0F282B !important;
    border: 3px solid #0F282B;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.section1{
    background-color: #11191D;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 180px 60px 120px 60px;
}

.section1-container{
    margin: auto 0;
    text-align: center;
}

.section1-container h3{
    font-size: 32px;
    margin-bottom: 45px;
}

.section1-container p{
    font-size: 15px;
    margin-bottom: 30px;
}

.btn1{
    padding: 10px 20px;
    background-color: #0F282B;
    color: white;
    letter-spacing: 1.5px;
    font-size: 12px;
    border: 3px solid #0F282B;
    margin-top: 50px !important;
}

.btn1:hover{
    background-color: #11191D ;
    color: white;
    border: 3px solid #11191D;
    cursor: pointer;
}

.section1-img{
    width: 625px;
    height: 400px;
    margin: 10px;
}

.investor{
    padding: 25px 170px;
}

.investor-names{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0px auto;
}

.investor-names img{
    width: 160px !important;
    height: 40px;
    object-fit: contain;
    display: block;
}

.slick-initialized .slick-slide{
    width: 200px!important;
    margin-right: 20px;
}

.w-200{
    width: 100px;
}



.section2{
    background-color: #11191D;
    color: white;
}

.section2_1{

    padding: 140px;
}

.section2_1 h3{
    font-size: 32px;
    text-align: center;
}

.media-conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.hide{
    display: none;
}



.play-btn{
    width: 100px;
    height: 100px;
    position: absolute;
    /* top: 350px;
    left: 620px; */
    top: 40%;
    left: 47%;
}

.btn2{
    font-size: 19px;
    display: flex;
    justify-content: center;
    width: max-content;
    margin: 100px auto 0 auto;
    background-color: white;
    color: #0F282B !important;
    padding: 10px 20px;
}

.btn2:hover{
    color: white !important;
    background-color: #11191D;
    cursor: pointer;
}

.section2_2{
    padding:  0 100px 100px 100px;
    text-align: center;
}

.section2_2 h3{
    font-size: 32px;
    margin-bottom: 50px;
}


.section2_3{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 100px;
}

.section2_3-img{
    width: 500px;
    height: 300px;
}

.section2_3-container h3{
    margin-bottom: 90px;
    font-size: 32px;
}

.section2_3-container p{
    font-size: 20px;
}

.section2_4{
    padding: 100px;
}

.city-carousal-height{
    height: 420px !important;
}


.city-image{
    /* width: 25% !important; */
    height: 300px;
    margin: 0;
}

.carousel-icon-container{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    width: 1200px;
    margin: auto;
}

.carousel-icon-container h3{
    text-align: center;
}

.city-btn{
    background-color: #0F282B;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    width: max-content;
    margin: 10px auto;
}

.city-btn:hover{
    background-color: #11191D;
    cursor: pointer;
}

.carousel-indicators li {
    width: 8px!important;
    height: 8px!important;
    border-radius: 100%!important;
}

.section2_5{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 176px 176px 276px 176px;
}

.section2_5-img{
    width: 500px;
    height: 300px;
}

.section2_5-container h3{
    font-size: 32px;
    margin-bottom: 40px;
}

.section2_5-container p{
    font-size: 20px;
    margin: 5px;
}

.section2_5-container p:nth-child(5){
    margin: 40px 0;
}

.section3{
    padding: 60px 0;
}

.section3 h3{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 50px;
    text-align: center;
}

.section3-container{
    max-width: 1140px;
    margin: auto;
    padding: 5%;
}

.font-size{
    font-size: 20px;
}

.bg-color {
    background-color: #11191D ;
}

.accordion-item{
    margin-bottom: 30px;
    border: none !important;
}

.accordion-body{
    color: #7a7a7a;
    line-height: 30px;
}

.accordion-button{
    background-color: #11191D !important;
    color: white !important;
    line-height: 40px;
}

.accordion-button::after {
    background-image: url('./assets/right-arrow.png') !important;
    transform: scale(0.6);
    margin-left: 20px !important;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(-90deg) !important;
}


.section4{
    background-image: linear-gradient(180deg, #06C9A1 0%, #11191D 100%);
    color: white;
    padding: 80px 0px 100px 0px;
}

.section4 h3{
    font-size: 32px;
    text-align: center;
}

.roadmap-s1{
    border-top: 12px dashed white;
    border-right: 12px dashed white;
    border-bottom: 12px dashed white;
    width: max-content;
    margin: 100px auto;
    
}

.icon-container{
    display: flex;
    justify-content: center;
    padding: 0 150px 0 20px;
    margin-top: -60px;
}

.icon1{
    margin-right: 375px;
}

.map-container{
    display: flex;
    justify-content: center;
    padding: 60px 110px 60px 20px;
}

.map1,
.map2,
.map3{
    background-color: #11191D;
    width: max-content;
    padding: 30px;
    text-align: center;
    margin-right: 40px;
}

.map1 h3{
    font-size: 20px;
    margin-bottom: 40px;
}

.map1 p,
.map2 p,
.map3 p{
    margin-bottom: 30px;
}

.map2 h3,
.map3 h3{
    font-size: 25px;    
    margin-bottom: 40px;
}

.map3-container{
    max-width: 1123px;
    padding: 0 150px 0 20px;
    margin: auto;
    padding: 5%;
}

.map3{
    margin: auto;
}

.icon3-div{
    padding: 0 150px 0 20px;
    margin-bottom: -60px;
}

.icon3{
    display: block;
    margin: auto;
}

.footer{
    padding: 25px 10px;
}

.footer-container{
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
}

.footer-logo{
    width: 110px;
    height: 38px;
    margin: 0 40px;
}

.footer-text{
    font-size: 12px;
    font-weight: 200;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.top-arrow-icon{
    width: 30px;
    height: 30px;
    margin-left: 350px;
}

.top-arrow-icon:hover{
    cursor: pointer;
}


/* styles added by me */
#videoContainer {
    max-width: 1200px;
}

#citySlider {
    max-width: 1400px;
    height: 360px !important;
    margin: 40px auto;
    margin-bottom: 80px;
    display: flex;
}

.citySlide {
    width: 300px !important;
    margin: 0px 80px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.citySlide::first-child {
    margin-left: 0px;
}

.cityBadge {
    width: 275px;
}

.cityname {
    text-align: center;
    text-transform: capitalize;
    width: 275px;
}

.slick-dots li button:before {
    opacity: .25;
    color: #fff !important;
}

#popup {
    background-image: linear-gradient(150deg, #031C46 0%, #0E192B 82%);
    padding: 20px;
    margin: auto;
    width: max-content;
    max-width: 640px;
    position: fixed;
    text-align: center;
    z-index: 111;
    left: calc(calc(100vw - 640px) / 2 );
    z-index: 11;
    top: 20%;
}

#popup::before {
    position: fixed;
    z-index: -11;
    display: block;
    content: '';
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);
    overflow-x: hidden;
}

#popup img {
    max-width: 400px;
    margin: 0px auto;
}

#closeButton {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    right: 40px;
    top: 30px;
}

#popup h1 {
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    margin: 40px 0px;
}

#popup input[type="text"] {
    display: block;
    margin: 8px 0px;
    width: 100%;
    padding: 8px 12px;
    background: #fff;
    border: none;
    outline: none;
}

#popup input[type="text"]:focus {
    outline: none;
    border: none;
}

#popup input[type="submit"] {
    display: block;
    margin: 20px 0px;
    width: 100%;
    padding: 8px 12px;
    background: #293a53;
    color: #fff;
    border: none;
    outline: none;
}

#popup p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    color: #FFF;
    opacity: .7;
    font-size: .8rem;
    text-align: center;
}

.accordion-header{
    border-width: 0px 14px;
    border-style: dashed;
}

/* cities CSS overridden */

.investor {
    padding: 25px 10px;
}

.investor-names {
    display: flex;
    justify-content: center;
}

.investor-names img {
    width: 143.33px;
    height: 50px;
    margin: 0 30px;
}

.cities-container {
    padding: 100px;
    background-image: linear-gradient(360deg, #11191D 94%, #06C9A1 100%);
}

.city-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px !important;
    margin: 40px auto;
}

.cityMeta {
    text-align: center;
    padding: 40px;
}

.cityName {
    font-size: 2.2rem;
    color: #FFF;
}

.cityBadge {
    margin-top: 40px;
    margin-bottom: 20px;
}

.cityMeta p {
    font-size: 1.2rem;
    color: #fff;
    margin: 20px 0px;
    text-align: left;
}

.cityMeta .icon {
    color: #06C9A1;
    padding-right: 20px;
    width: 40px;
}

.greenButton {
    display: block;
    background: #06C9A1;
    padding: 12px 32px;
    color: #000;
    font-weight: bold;
    margin: 30px auto;
}

.sandboxImage {
    padding: 40px;
}

.sandboxImage img {
    width: 100%;
}

.menuIcon {
    display: none;
    visibility: hidden;
}

/* Media Queries */
@media screen and (max-width:1024px) {
    .map-container,
    .icon-container {
        padding: 0px;
    }

    .investor-names img {
        height: 40px;
    }
}

@media screen and (max-width:900px) {

    .header {
        justify-content: space-between;
    }
    .section1,
    .section2_3 {
        flex-direction: column;
    }
    .section1-container h3 {
        margin-bottom: 20px;
    }
    .section1-container p {
        margin-bottom: 12px;
    }
    .btn1 {
        display: block;
        width: fit-content;
        margin: 30px auto;
    }
    .play-btn {
        top: 30%;
        left: 43%;
    }
    .section2_2 {
        padding-bottom: 0px;
    }
    .btn2 {
        margin-top: 50px;
    }
    .section2_1 {
        padding-bottom: 40px;
    }
    .section2_2 h3 {
        margin-bottom: 30px;
    }
    .section2_3-img {
        height: auto;
        width: 100%;
        max-width: 500px;
        margin-bottom: 50px;
    }
    .section2_3-container h3 {
        margin-bottom: 40px;
    }
    .section2_3 {
        padding: 5%;
    }
    .section2_4 {
        padding: 5%;
    }
    .section2_5 {
        padding: 5%;
        flex-direction: column;
    }
    .section2_5-img {
        height: auto;
        width: 100%;
        max-width: 500px;
        margin-bottom: 40px;
    }
    .map1 p, .map2 p, .map3 p {
        margin-bottom: 18px;
        font-size: .8rem;
    }
    .icon1 {
        margin-right: 280px;
    }
    .roadmap-s1 {
        padding: 40px;
        margin-bottom: 30px;
    }
    .icon-container {
        margin-top: -100px;
    }
    .icon-container img {
        margin-bottom: 20px;
    }
    .map2 {
        margin-right: 0px;
    }
    .icon3-div {
        padding: 0px;
        margin-bottom: -100px;
        margin-top: 40px;
    }
    .footer-text {
        text-align: justify;
    }
    .top-arrow-icon {
        margin-left: 20px;
    }
    .footer-logo {
        margin: 0px 20px;
    }
    .navbar {
        display: none !important;
        visibility: hidden;
    }
    .header .navbar-btn {
        display: none;
        visibility: hidden;
    }
    .menuIcon {
        visibility: visible;
        display: block;
        margin-right: 40px;
        background: transparent;
        outline: none;
        border: none;
        font-size: 1.6rem;
    }
    .menuIcon:hover,
    .menuIcon:focus {
        color: #2D0889;
    }

    #mobileMenu {
        width: 100vw;
        background: #8E8E8E;
        margin-top: 95px;
        position: fixed;
        z-index: 6;
    }

    .menu-link {
        display: block;
        visibility: visible;
        border-top: 1px solid rgba(255, 255, 255, 0.35);
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-align: center;
        color: #fff;
        padding: 12px;
    }

    .menu-link:hover {
        background: #11191D;
        color: #fff;
    }

    #mobileMenu.notVisible {
        display: none;
        visibility: hidden;
    }

    #menuClose {
        display: none;
        visibility: hidden;
    }
    #menuClose.isVisible {
        display: block;
        visibility: visible;
    }

    #menuOpen.isClosed {
        display: none;
        visibility: hidden;
    }
    .font-size {
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 0;
    }
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer-logo {
        height: auto;
        width: 180px;
    }
}